/* * {
  margin: 0;
  padding: 0;
} */
body{
  font-family: Merriweather, serif;
}
h1, h2, h3, h4, h5{
  font-family: 'Work Sans', sans-serif;
}

/* p {
  color: purple;
}

.tag {
  color: orange;
}

#featured {
  color: gold;
}
input[type="number"] {
  background-color: gold;
}

a[href*="wiki"] {
  color: cyan;
}

a[href^="#"] {
  color: rgb(147, 132, 150);
} */


/* .score, 
#featured,
.tag{
  color: white;
  background-color: orangered;
} */
#cast span {
  color: grey;
}